<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.arc.fna.tests.FNA_Regression_TestSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyValidLogin</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyMarkupAnnotationDrawingSaving</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyHyperlinkFunctionality</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>stopAppiumServer</td>
<td>&nbsp;</td></tr>
</table>
