<h2>Methods that were not run</h2><table>
<tr><td>com.arc.fna.tests.FNA_Regression_TestSuite.verifyValidLogin<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_01: Varify the login functionality with valid credentials</i></td></tr>
<tr><td>com.arc.fna.tests.FNA_Regression_TestSuite.verifyHyperlinkFunctionality<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_03: Verify the hyperlink functionality</i></td></tr>
</table>