<h2>Reporter output</h2><table><tr><td><div class="test-message">&emsp;FNA app launched successfully</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_02: Verify the markup annotation drawing being saved.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:09:10 161 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> xpath: //XCUIElementTypeOther/XCUIElementTypeTextField]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:09:24 110 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> xpath: //XCUIElementTypeOther/XCUIElementTypeTextField]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;subhendu.das@e-arc.com has been entered as Username</div></td></tr>
<tr><td><div class="test-message">&emsp;arcind@123 has been entered as password</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:10:00 379 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: Sign in]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Login button clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:10:12 849 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: skip]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Skip button clicked</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:10:37 787 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: menu]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:10:41 537 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: Sample Facility- Technology Center]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:10:59 538 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: skip]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:11:30 581 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: Automation_Testing1]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:11:39 664 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: skip]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:11:48 137 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: Release PDF.PDF]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:12:01 179 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: skip]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:12:13 782 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: rectangle infolink]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:12:18 834 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: square]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 16 Jan 16:12:25 527 - Element is displayed:: [[IOSDriver:  on MAC (7fceefe0-6f9f-488d-ac7f-fdea2e45ce89)] -> accessibility id: square]</small> </font> </div></td></tr>
</table>